.carousel-inner img {
    width: 100%;
    height: 91%;
}
h3,p {
    color: black;
}
.carousel-indicators li {
    background-color: black;
}


    /* =========================  Modal Styling Begin =================================  */

.main-section{
    padding: 15px;
    background:#f1f1f1;
}
.custom-file-control::after {
    content: "Choose file...";
}
.custom-file-control::before {
    content: "Browse";
}

    /* =========================  Modal Styling End =================================  */


    /* =========================  image uploader Styling Begin =================================  */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

    /* =========================  image uploader Styling End =================================  */
